@inherits LayoutComponentBase

<div class="page">
    <div class="d-print-none sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="d-print-none top-row px-4">
             
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{

}
