@page "/equipmentmanagement"
<h3 class="text-center">Equipment Management</h3>

<div class="d-flex flex-row gap-4 justify-content-between ">
	<div class="bg-secondary p-4 rounded-2">
		<h3 class="text-center">Search Equipment</h3>
		<div>
			<p class="d-inline">Search by</p>
			<select class="form-select d-inline" @bind="searchFilter">
				<option value="CustomerID">Equipment ID</option>
				<option value="CategoryID">Category ID</option>
				<option value="Name">Name</option>
			</select>
		</div>
		<hr />
		<div class="text-center">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Enter you parameter" />
				<button class="btn btn-primary" type="button">Search</button>
			</div>
			<div class="bg-white ">
				<!--Insert a foreach to display each button/link here -->
			</div>
			<button class="btn btn-primary">
				Clear Result
			</button>
		</div>
	</div>

	<div class="bg-secondary p-3 rounded-2 flex-fill">
		<h3 class="text-center">Equipment Information</h3>
		<div>
			<div class="mb-3 row">
				<label for="equipmentID" class="col-sm-3 col-form-label">Equipment ID</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="equipmentID" />
				</div>
			</div>
			<div class="mb-3 row">
				<label for="categoryID" class="col-sm-3 col-form-label">Category ID</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="categoryID" />
				</div>
			</div>
			<p>Category Description: </p>
			<div class="mb-3 row">
				<label for="name" class="col-sm-3 col-form-label">Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="name" />
				</div>
			</div>
			<div class="mb-3 row">
				<label for="description" class="col-sm-3 col-form-label">Description</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="description" />
				</div>
			</div>
			<div class="mb-3 row">
				<label for="dailyRentalCost" class="col-sm-3 col-form-label">Daily Rental Cost</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="dailyRentalCost" />
				</div>
			</div>
			<div class="mb-3 row">
				<label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="quantity" />
				</div>
			</div>
			<div class="mb-3 row">
				<label for="equipmentStatus" class="col-sm-3 col-form-label">equipmentStatus</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="equipmentStatus" />
				</div>
			</div>
			<div class="container gap-4 text-center">
				<div class="row">
					<div class="col">
						<button class="btn btn-primary">Save</button>
						<button class="btn btn-primary">Clear</button>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						<button class="btn btn-primary">Sell Equipment</button>
						<button class="btn btn-primary">Remove from Inventory</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@code {
	private string searchFilter = "CustomerID";
}
