@page "/reportgenerator"
@using VillageRental.Components.Instances
@inject SystemManagement sysManagement

<h1 class="d-print-none text-center">Report Generator</h1>

<div class="d-flex flex-row gap-4 justify-content-between ">
	<div class="d-print-none bg-secondary p-4 rounded-2">
		<h3 class="text-center">Report Type</h3>
		<div>
			<select class="form-select d-inline" value="@reportType" @onchange="(ChangeEventArgs __e) => {
					reportType = __e.Value.ToString();
					showTable = false;
				}" >
				<option selected value="ListAllCustomers">List all customers</option>
				<option value="ListAllEquipment">List all equipment</option>
				<option value="ListAllCategory">List all category</option>
				<option value="ListAllRentalInformation">List all rental information</option>
			</select>
			<div class="container text-center mt-3">
				<div class="row">
					<div class="col gap-3">
						<button class="btn btn-primary" @onclick="() => showTable = true">Generate</button>
						<button class="btn btn-primary" @onclick="() => showTable = false" >Clear</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-secondary p-3 rounded-2 flex-fill">
		@switch(reportType)
		{
			case "ListAllCustomers":
				<h3 class="text-center">Customers Report</h3>
				break;
			case "ListAllEquipment":
				<h3 class="text-center">Equipment Report</h3>
				break;
			case "ListAllCategory":
				<h3 class="text-center">Category Report</h3>
				break;
			case "ListAllRentalInformation":
				<h3 class="text-center">Rentals Report</h3>
				break;
		}
		<div class="mx-auto">
			@if(showTable)
			{
				<Report ReportType="@reportType" />
				<button class="d-print-none btn btn-primary" onclick="window.print()">Print To PDF</button>
			}
			else
			{
				<p>Press the "Generate" button to create a report</p>
			}
		</div>
	</div>
</div>


@code {
	private string reportType = "ListAllCustomers";

	private bool showTable = false;
}
